{{#if blnProcessing}}
    <div id="regent-message-wrapper-processing" class="regent-processing">
        <div id="regent-message-header-processing">
            <i class="fas {{strSpeakerIcon}}"></i>
            <span class="regent-message-speaker">
                {{strSpeakerName}}
            </span>
            {{strMessageIntro}}
        </div>
    </div>
{{/if}}
{{#unless blnProcessing}}
    <div class="regent-message-wrapper" {{#if messageId}}data-message-id="{{messageId}}"{{/if}}>
        
        <div class="regent-message-header {{strHeaderStlye}}">
            <i class="fas {{strSpeakerIcon}}"></i>
            <span class="regent-message-speaker">
                {{strSpeakerName}}
            </span>
            {{strMessageIntro}}
        </div>

        <div class="regent-message-content" {{#if messageId}}data-message-id="{{messageId}}"{{/if}}>
            {{{strMessageContent}}}
        </div>

    </div>

    {{#if blnToolbar}}
        <div class="regent-message-toolbar toolbar-right">
                {{#if blnIsJSON}}
                <button type="button" class="regent-chat-button-json regent-chat-button-normal" data-label="true" {{#if messageId}}data-message-id="{{messageId}}"{{/if}}>
                    <i class="fa-solid fa-message-arrow-down"></i>
                </button>
                {{/if}}

            <button type="button" class="regent-chat-button-copy regent-chat-button-normal" data-label="true" {{#if messageId}}data-message-id="{{messageId}}"{{/if}}>
                <i class="fa-solid fa-copy"></i>
            </button>
            <button type="button" class="regent-chat-button-chat regent-chat-button-normal" data-label="true" {{#if messageId}}data-message-id="{{messageId}}"{{/if}}>
                <i class="fas fa-comment"></i> 
                <span>Send to Chat</span>
            </button>
        </div>
        <div class="regent-message-divider">{{strDateStamp}}{{#if tokenInfo}} | {{tokenInfo}} | ${{cost}}{{/if}} — Hear ye! The Regent has spoken, it is so!</div>
    {{/if}}

{{/unless}}
