{{!-- CHARACTER CORE --}}
<div class="workspace-section" id="workspace-section-character-core-{{id}}">
    <h4>Character Details <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-core-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-core-content-{{id}}" class="workspace-section-content">
        {{!-- Character Image and Name --}}
        <div class="workspace-section-image-container">
            <img class="workspace-section-image" src="{{tokenData.actor.img}}" title="{{tokenData.name}}">
            <div class="workspace-section-image-caption">
                <h6>{{tokenData.name}}</h6>
            </div>
        </div>

        {{!-- Primary Character Info --}}
        <div class="form-details primary-info">
            {{#if tokenData.isCharacter}}
            <div class="primary-info-item">
                <div class="info-label">Class Level</div>
                <div class="info-value">Level {{tokenData.classLevel}}  •  {{tokenData.className}}  •   {{#if tokenData.background}}{{tokenData.background}}{{else}}-{{/if}}</div>
            </div>
            {{/if}}
            <div class="primary-info-item">
                <div class="info-label">Race</div>
                <div class="info-value">{{#if tokenData.race}}{{tokenData.race}}{{else}}-{{/if}}</div>
            </div>
        </div>

        {{!-- Combat Stats --}}
        <div class="form-details">
            <div class="form-label">
                <span>Hit Points</span>
                <span class="value">{{tokenData.actor.system.attributes.hp.value}}/{{tokenData.actor.system.attributes.hp.max}}</span>
            </div>
        </div>

        {{!-- Movement --}}
        {{#if tokenData.movement}}
        <div class="form-details">
            <div class="form-label">Movement</div>
            <div class="workspace-grid-2col movement-grid">
                {{#each tokenData.movement}}
                    {{#if this.value}}
                    <div class="form-label">
                        <span>{{@key}}</span>
                        <span class="value">{{this.value}} {{../tokenData.movementUnits}}</span>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        {{/if}}

        {{!-- Physical Characteristics --}}
        <div class="form-details">
            <div class="workspace-grid-2col details-grid">
                <div class="form-label">
                    <span>Gender</span>
                    <span class="value">{{#if tokenData.actor.system.details.gender}}{{tokenData.actor.system.details.gender}}{{else}}-{{/if}}</span>
                </div>
                <div class="form-label">
                    <span>Age</span>
                    <span class="value">{{#if tokenData.actor.system.details.age}}{{tokenData.actor.system.details.age}}{{else}}-{{/if}}</span>
                </div>
                <div class="form-label">
                    <span>Height</span>
                    <span class="value">{{#if tokenData.actor.system.details.height}}{{tokenData.actor.system.details.height}}{{else}}-{{/if}}</span>
                </div>
                <div class="form-label">
                    <span>Weight</span>
                    <span class="value">{{#if tokenData.actor.system.details.weight}}{{tokenData.actor.system.details.weight}}{{else}}-{{/if}}</span>
                </div>
                <div class="form-label">
                    <span>Hair</span>
                    <span class="value">{{#if tokenData.actor.system.details.hair}}{{tokenData.actor.system.details.hair}}{{else}}-{{/if}}</span>
                </div>
                <div class="form-label">
                    <span>Eyes</span>
                    <span class="value">{{#if tokenData.actor.system.details.eyes}}{{tokenData.actor.system.details.eyes}}{{else}}-{{/if}}</span>
                </div>
                <div class="form-label">
                    <span>Skin</span>
                    <span class="value">{{#if tokenData.actor.system.details.skin}}{{tokenData.actor.system.details.skin}}{{else}}-{{/if}}</span>
                </div>
                <div class="form-label">
                    <span>Size</span>
                    <span class="value">{{#if tokenData.actor.system.details.size}}{{tokenData.actor.system.details.size}}{{else}}-{{/if}}</span>
                </div>
                <div class="form-label">
                    <span>Alignment</span>
                    <span class="value">{{#if tokenData.actor.system.details.alignment}}{{tokenData.actor.system.details.alignment}}{{else}}-{{/if}}</span>
                </div>
            </div>
        </div>

        {{!-- Senses --}}
        {{#if tokenData.senses}}
        <div class="form-details">
            <div class="form-label">Senses</div>
            <div class="workspace-grid-2col details-grid">
                {{#each tokenData.senses}}
                {{#unless (eq @key "units")}}
                <div class="form-label">
                    <span>{{@key}}</span>
                    <span class="value">{{this}} ft</span>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        {{/if}}

        {{!-- REMOVED THESE FOR NOW --}} 
        {{!-- Resistances --}} 
        {{!-- Armor & Weapon Proficiencies --}}
        {{!-- Languages --}}

    </div>
</div> 