


<!-- PARTY LEVELS --> 
<div class="workspace-section" id="workspace-section-encounter-{{id}}">
    <h4>Encounter Worksheet<button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-encounter-content-{{id}}', this)"><i class="fas fa-chevron-down"></i></button></h4>
    <div id="workspace-section-encounter-content-{{id}}" class="workspace-section-content collapsed">
        
        <!-- Message -->
        <div class="message-box" id="tokens-added-message-{{id}}" style="display: none;">
            Tokens have been added from the canvas.
        </div>

        <div id="encounter-details-{{id}}">
            <!-- Character Level -->
            <div class="form-label">Group Level <span class="helper">(<span class="value" id="levelValue-{{id}}">0</span> Overall)</span></div>
            <div class="form-options">
                <div class="toggle-button-grid">
                    <div class="toggle-button level-button" data-level="1" onclick="incrementLevelCount(this, '1', '{{id}}')">
                        <i class="fa-regular fa-shield"></i> 01 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '1', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="2" onclick="incrementLevelCount(this, '2', '{{id}}')">
                        <i class="fa-regular fa-shield"></i> 02 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '2', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="3" onclick="incrementLevelCount(this, '3', '{{id}}')">
                        <i class="fa-regular fa-shield"></i> 03 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '3', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="4" onclick="incrementLevelCount(this, '4', '{{id}}')">
                        <i class="fa-regular fa-shield"></i> 04 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '4', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="5" onclick="incrementLevelCount(this, '5', '{{id}}')">
                        <i class="fa-solid fa-shield-quartered"></i> 05 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '5', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="6" onclick="incrementLevelCount(this, '6', '{{id}}')">
                        <i class="fa-solid fa-shield-quartered"></i> 06 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '6', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="7" onclick="incrementLevelCount(this, '7', '{{id}}')">
                        <i class="fa-solid fa-shield-quartered"></i> 07 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '7', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="8" onclick="incrementLevelCount(this, '8', '{{id}}')">
                        <i class="fa-solid fa-shield-quartered"></i> 08 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '8', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="9" onclick="incrementLevelCount(this, '9', '{{id}}')">
                        <i class="fa-solid fa-shield-quartered"></i> 09 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '9', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="10" onclick="incrementLevelCount(this, '10', '{{id}}')">
                        <i class="fa-solid fa-shield-quartered"></i> 10 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '10', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="11" onclick="incrementLevelCount(this, '11', '{{id}}')">
                        <i class="fa-solid fa-shield-halved"></i> 11 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '11', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="12" onclick="incrementLevelCount(this, '12', '{{id}}')">
                        <i class="fa-solid fa-shield-halved"></i> 12 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '12', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="13" onclick="incrementLevelCount(this, '13', '{{id}}')">
                        <i class="fa-solid fa-shield-halved"></i> 13 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '13', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="14" onclick="incrementLevelCount(this, '14', '{{id}}')">
                        <i class="fa-solid fa-shield-halved"></i> 14 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '14', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="15" onclick="incrementLevelCount(this, '15', '{{id}}')">
                        <i class="fa-solid fa-shield-halved"></i> 15 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '15', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="16" onclick="incrementLevelCount(this, '16', '{{id}}')">
                        <i class="fa-solid fa-shield-halved"></i> 16 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '16', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="17" onclick="incrementLevelCount(this, '17', '{{id}}')">
                        <i class="fa-solid fa-shield"></i> 17 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '17', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="18" onclick="incrementLevelCount(this, '18', '{{id}}')">
                        <i class="fa-solid fa-shield"></i> 18 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '18', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="19" onclick="incrementLevelCount(this, '19', '{{id}}')">
                        <i class="fa-solid fa-shield"></i> 19 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '19', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button level-button" data-level="20" onclick="incrementLevelCount(this, '20', '{{id}}')">
                        <i class="fa-solid fa-shield"></i> 20 <span class="count">0</span>
                        <button class="clear-button" onclick="decrementLevelCount(event, this, '20', '{{id}}')">-</button>
                    </div>
                </div>
            </div>
            
            <div class="workspace-section-spacer"></div>
            <div class="workspace-section-divider"></div>

            <!-- CHARACTER CLASSES -->
            <div class="form-label">Character Types <span class="helper">(Select applicable character types)</span></div>
            <div class="form-options">
                <div class="toggle-button-grid">
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Barbarian', '{{id}}')" data-class="barbarian">
                        <i class="fas fa-axe-battle"></i> Barbarian <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Barbarian', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Bard', '{{id}}')" data-class="bard">
                        <i class="fas fa-music"></i> Bard <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Bard', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Cleric', '{{id}}')" data-class="cleric">
                        <i class="fas fa-cross"></i> Cleric <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Cleric', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Druid', '{{id}}')" data-class="druid">
                        <i class="fas fa-leaf"></i> Druid <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Druid', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Fighter', '{{id}}')" data-class="fighter">
                        <i class="fas fa-sword"></i> Fighter <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Fighter', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Monk', '{{id}}')" data-class="monk">
                        <i class="fas fa-hand-rock"></i> Monk <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Monk', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Paladin', '{{id}}')" data-class="paladin">
                        <i class="fas fa-shield-alt"></i> Paladin <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Paladin', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Ranger', '{{id}}')" data-class="ranger">
                        <i class="fas fa-bow-arrow"></i> Ranger <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Ranger', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Rogue', '{{id}}')" data-class="rogue">
                        <i class="fas fa-mask"></i> Rogue <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Rogue', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Sorcerer', '{{id}}')" data-class="sorcerer">
                        <i class="fas fa-magic"></i> Sorcerer <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Sorcerer', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Warlock', '{{id}}')" data-class="warlock">
                        <i class="fas fa-scroll"></i> Warlock <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Warlock', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Wizard', '{{id}}')" data-class="wizard">
                        <i class="fas fa-hat-wizard"></i> Wizard <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Wizard', '{{id}}')">-</button>
                    </div>
                    <div class="toggle-button class-button" onclick="incrementCharacterType(this, 'Artificer', '{{id}}')" data-class="artificer">
                        <i class="fas fa-cogs"></i> Artificer <span class="count">0</span>
                        <button class="clear-button" onclick="decrementCharacterType(event, this, 'Artificer', '{{id}}')">-</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

