


<!-- MONSTER TOKENS --> 
<div class="workspace-section" id="workspace-section-monsters-{{id}}">
    <h4>Monsters Worksheet<button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-monsters-content-{{id}}', this)"><i class="fas fa-chevron-down"></i></button></h4>
    <div id="workspace-section-monsters-content-{{id}}" class="workspace-section-content">
        <!-- Monster Worksheet LEVEL BADGES -->    
        <div class="encounter-info-row">
            

            <!-- TARGET CR -->
            <div class="info-badge-container">
                <label for="worksheet-target-cr-{{id}}">Target CR</label>
                <div id="worksheet-target-cr-{{id}}" class="info-badge">
                    <span class="big-number normal-badge" id="targetCRValue-{{id}}">0.00</span>
                </div>
            </div>
            <!-- MATH SYMBOL -->
            <div class="info-badge-container">
                <span class="big-number normal-badge">-</span>
            </div>

            <!-- MONSTER CR LEVEL -->
            <div class="info-badge-container">
                <label for="worksheet-monster-cr-{{id}}">Current CR</label>
                <div id="worksheet-monster-cr-{{id}}" class="info-badge">
                    <span class="big-number normal-badge" id="monsterCRValue-{{id}}">0.00</span>
                </div>
            </div>
            <!-- MATH SYMBOL -->
            <div class="info-badge-container">
                <span class="big-number normal-badge">=</span>
            </div>

            <!-- MONSTER GAP -->
            <div class="info-badge-container">
                <label for="worksheet-gap-cr-{{id}}">CR Gap</label>
                <div id="worksheet-gap-cr-{{id}}" class="info-badge gap-cr">
                    <span class="big-number bold-badge" id="gapCRValue-{{id}}">0.00</span>
                </div>
            </div>
        </div>
        <!-- MONSTER/NPC TOKENS CONTAINER -->   
        <div class="monsters-container">
        </div>
        <!-- Drop Zone for Monsters -->
        <div class="panel-drop-zone" id="monster-drop-zone-{{id}}">
            <div class="drop-zone-content">
                <i class="fas fa-download"></i>
                <span>Add from Canvas or Drop Monsters Here</span>
            </div>
        </div>

    </div>


</div>

