<div class="workspace-section" id="workspace-section-settings-{{id}}">
    <h4>Journal Configuration <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-settings-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-settings-content-{{id}}" class="workspace-section-content">

        {{!-- Folder Name --}}
        <div class="form-label">Folder Name <span class="helper">(REQUIRED: Where the narratives will be stored)</span></div>
        {{#if (eq id "narrative")}}
            <input class="form-input" type="text" id="input-FOLDERNAME-{{id}}" value="{{strDefaultNarrativeFolder}}" placeholder="">
        {{else}}
            <input class="form-input" type="text" id="input-FOLDERNAME-{{id}}" value="Random Encounters" placeholder="">
        {{/if}}


        {{!-- Journal Page Title --}}
        <div class="form-label">Journal Page Title <span class="helper">(OPTIONAL: Will be generated if left blank)</span></div>
        <input class="form-input" type="text" id="input-SCENETITLE-{{id}}" placeholder="e.g. The Big Boss or The Secret Chamber">

    </div>
</div>
