{{!-- WEAPONS --}}
<div class="workspace-section" id="workspace-section-character-weapons-{{id}}">
    <h4>Equipped Weapons <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-weapons-content-{{id}}', this)"><i class="fas fa-chevrons-up"></i></button></h4>
    <div id="workspace-section-character-weapons-content-{{id}}" class="workspace-section-content">
        <div class="workspace-section-nodivider">
            {{#if equippedWeapons}}
            <div class="form-details">
                {{#each equippedWeapons}}
                <div class="workspace-item-container">
                    <img class="workspace-item-icon" src="{{this.img}}" title="{{this.name}}" />
                    <div class="workspace-item-details">
                        <div class="workspace-item-name">{{this.name}}</div>
                        <div class="workspace-item-description">
                            {{#if this.damage}}{{this.damage}}{{/if}}
                            {{#if this.type}} • {{this.type}}{{/if}}
                            {{#if this.properties}} • {{#each this.properties}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}{{/if}}
                        </div>
                        {{!-- REMOVED DESCRIPTIOSN FOR NOW --}}
                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <div class="form-details">
                <div class="form-label">No weapons equipped</div>
            </div>
            {{/if}}
        </div>
    </div>
</div> 