{{!-- BIOGRAPHY --}}
<div class="workspace-section" id="workspace-section-character-biography-{{id}}">
    <h4>Biography <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-character-biography-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-character-biography-content-{{id}}" class="workspace-section-content">
        <div class="workspace-section-nodivider">
            {{#if biography}}
                <div class="form-details">
                    {{{biography}}}
                </div>
            {{else}}
                <div class="form-details">
                    <div class="form-label">No biography available</div>
                </div>
            {{/if}}
        </div>
    </div>
</div> 