<div class="workspace-section" id="workspace-section-narrativedetails-{{id}}">
<h4>Details <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-narrativedetails-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-narrativedetails-content-{{id}}" class="workspace-section-content">
        {{!-- Description --}}
        <div class="form-label">Specifics <span class="helper">(Requirements for the scene)</span></div>
        <textarea id="inputNarrativeDetails-{{id}}" rows="8" placeholder="e.g. This room has a hidden door that leads to a secret chamber."></textarea>
        {{!-- Dialogue --}}
        <label>
            <input type="checkbox" id="blnGenerateDialogue-{{id}}"> Include Dialogue
        </label>
    </div>
</div>