<div class="workspace-section" id="workspace-section-srdrules-{{id}}">
    
    
    <h4>Criteria <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-srdrules-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    
    <div id="workspace-section-srdrules-content-{{id}}" class="workspace-section-content">

        <div class="form-label">Feature<span class="helper">(Special abilities or powers.)</span></div>
        <div class="form-options">
            <select id="optionFeatures-{{id}}">
                <option value="" selected></option>
                <option value="Artificer: Magical Tinkering">Artificer: Magical Tinkering</option>
                <option value="Artificer: Spellcasting">Artificer: Spellcasting</option>
                <option value="Artificer: Infuse Item">Artificer: Infuse Item</option>
                <option value="Artificer: Artificer Specialist">Artificer: Artificer Specialist</option>
                <option value="Artificer: The Right Tool for the Job">Artificer: The Right Tool for the Job</option>
                <option value="Artificer: Tool Expertise">Artificer: Tool Expertise</option>
                <option value="Artificer: Flash of Genius">Artificer: Flash of Genius</option>
                <option value="Artificer: Magic Item Adept">Artificer: Magic Item Adept</option>
                <option value="Artificer: Magic Item Savant">Artificer: Magic Item Savant</option>
                <option value="Artificer: Magic Item Master">Artificer: Magic Item Master</option>
                <option value="Artificer: Soul of Artifice">Artificer: Soul of Artifice</option>

                <option value="Barbarian: Rage">Barbarian: Rage</option>
                <option value="Barbarian: Unarmored Defense">Barbarian: Unarmored Defense</option>
                <option value="Barbarian: Reckless Attack">Barbarian: Reckless Attack</option>
                <option value="Barbarian: Danger Sense">Barbarian: Danger Sense</option>
                <option value="Barbarian: Primal Path">Barbarian: Primal Path</option>
                <option value="Barbarian: Extra Attack">Barbarian: Extra Attack</option>
                <option value="Barbarian: Fast Movement">Barbarian: Fast Movement</option>
                <option value="Barbarian: Feral Instinct">Barbarian: Feral Instinct</option>
                <option value="Barbarian: Brutal Critical">Barbarian: Brutal Critical</option>
                <option value="Barbarian: Relentless Rage">Barbarian: Relentless Rage</option>
                <option value="Barbarian: Persistent Rage">Barbarian: Persistent Rage</option>
                <option value="Barbarian: Indomitable Might">Barbarian: Indomitable Might</option>
                <option value="Barbarian: Primal Champion">Barbarian: Primal Champion</option>

                <option value="Barbarian: Path of the Berserker: Frenzy">Barbarian: Path of the Berserker: Frenzy</option>
                <option value="Barbarian: Path of the Berserker: Mindless Rage">Barbarian: Path of the Berserker: Mindless Rage</option>
                <option value="Barbarian: Path of the Berserker: Intimidating Presence">Barbarian: Path of the Berserker: Intimidating Presence</option>
                <option value="Barbarian: Path of the Berserker: Retaliation">Barbarian: Path of the Berserker: Retaliation</option>
                <option value="Barbarian: Path of the Totem Warrior: Totem Spirit">Barbarian: Path of the Totem Warrior: Totem Spirit</option>
                <option value="Barbarian: Path of the Totem Warrior: Aspect of the Beast">Barbarian: Path of the Totem Warrior: Aspect of the Beast</option>
                <option value="Barbarian: Path of the Totem Warrior: Spirit Walker">Barbarian: Path of the Totem Warrior: Spirit Walker</option>
                <option value="Barbarian: Path of the Totem Warrior: Totemic Attunement">Barbarian: Path of the Totem Warrior: Totemic Attunement</option>
                <option value="Barbarian: Path of the Ancestral Guardian: Ancestral Protectors">Barbarian: Path of the Ancestral Guardian: Ancestral Protectors</option>
                <option value="Barbarian: Path of the Ancestral Guardian: Spirit Shield">Barbarian: Path of the Ancestral Guardian: Spirit Shield</option>
                <option value="Barbarian: Path of the Ancestral Guardian: Consult the Spirits">Barbarian: Path of the Ancestral Guardian: Consult the Spirits</option>
                <option value="Barbarian: Path of the Ancestral Guardian: Vengeful Ancestors">Barbarian: Path of the Ancestral Guardian: Vengeful Ancestors</option>
                <option value="Barbarian: Path of the Storm Herald: Storm Aura">Barbarian: Path of the Storm Herald: Storm Aura</option>
                <option value="Barbarian: Path of the Storm Herald: Storm Soul">Barbarian: Path of the Storm Herald: Storm Soul</option>
                <option value="Barbarian: Path of the Storm Herald: Shielding Storm">Barbarian: Path of the Storm Herald: Shielding Storm</option>
                <option value="Barbarian: Path of the Storm Herald: Raging Storm">Barbarian: Path of the Storm Herald: Raging Storm</option>
                <option value="Barbarian: Path of the Zealot: Divine Fury">Barbarian: Path of the Zealot: Divine Fury</option>
                <option value="Barbarian: Path of the Zealot: Warrior of the Gods">Barbarian: Path of the Zealot: Warrior of the Gods</option>
                <option value="Barbarian: Path of the Zealot: Fanatical Focus">Barbarian: Path of the Zealot: Fanatical Focus</option>
                <option value="Barbarian: Path of the Zealot: Zealous Presence">Barbarian: Path of the Zealot: Zealous Presence</option>
                <option value="Barbarian: Path of the Zealot: Rage Beyond Death">Barbarian: Path of the Zealot: Rage Beyond Death</option>
                <option value="Barbarian: Path of the Battlerager: Battlerager Armor">Barbarian: Path of the Battlerager: Battlerager Armor</option>
                <option value="Barbarian: Path of the Battlerager: Reckless Abandon">Barbarian: Path of the Battlerager: Reckless Abandon</option>
                <option value="Barbarian: Path of the Battlerager: Battlerager Charge">Barbarian: Path of the Battlerager: Battlerager Charge</option>
                <option value="Barbarian: Path of the Battlerager: Spiked Retribution">Barbarian: Path of the Battlerager: Spiked Retribution</option>
                <option value="Barbarian: Path of the Beast: Form of the Beast">Barbarian: Path of the Beast: Form of the Beast</option>
                <option value="Barbarian: Path of the Beast: Bestial Soul">Barbarian: Path of the Beast: Bestial Soul</option>
                <option value="Barbarian: Path of the Beast: Infectious Fury">Barbarian: Path of the Beast: Infectious Fury</option>
                <option value="Barbarian: Path of the Beast: Call the Hunt">Barbarian: Path of the Beast: Call the Hunt</option>

                <option value="Bard: Spellcasting">Bard: Spellcasting</option>
                <option value="Bard: Bardic Inspiration">Bard: Bardic Inspiration</option>
                <option value="Bard: Jack of All Trades">Bard: Jack of All Trades</option>
                <option value="Bard: Song of Rest">Bard: Song of Rest</option>
                <option value="Bard: Bard College">Bard: Bard College</option>
                <option value="Bard: Expertise">Bard: Expertise</option>
                <option value="Bard: Font of Inspiration">Bard: Font of Inspiration</option>
                <option value="Bard: Countercharm">Bard: Countercharm</option>
                <option value="Bard: Magical Secrets">Bard: Magical Secrets</option>
                <option value="Bard: Superior Inspiration">Bard: Superior Inspiration</option>

                <option value="Cleric: Spellcasting">Cleric: Spellcasting</option>
                <option value="Cleric: Divine Domain">Cleric: Divine Domain</option>
                <option value="Cleric: Channel Divinity">Cleric: Channel Divinity</option>
                <option value="Cleric: Destroy Undead">Cleric: Destroy Undead</option>
                <option value="Cleric: Divine Intervention">Cleric: Divine Intervention</option>

                <option value="Cleric: Arcana Domain: Arcane Initiate">Cleric: Arcana Domain: Arcane Initiate</option>
                <option value="Cleric: Arcana Domain: Channel Divinity: Arcane Abjuration">Cleric: Arcana Domain: Channel Divinity: Arcane Abjuration</option>
                <option value="Cleric: Arcana Domain: Spell Breaker">Cleric: Arcana Domain: Spell Breaker</option>
                <option value="Cleric: Arcana Domain: Potent Spellcasting">Cleric: Arcana Domain: Potent Spellcasting</option>
                <option value="Cleric: Arcana Domain: Arcane Mastery">Cleric: Arcana Domain: Arcane Mastery</option>

                <option value="Cleric: Death Domain: Reaper">Cleric: Death Domain: Reaper</option>
                <option value="Cleric: Death Domain: Channel Divinity: Touch of Death">Cleric: Death Domain: Channel Divinity: Touch of Death</option>
                <option value="Cleric: Death Domain: Inescapable Destruction">Cleric: Death Domain: Inescapable Destruction</option>
                <option value="Cleric: Death Domain: Divine Strike">Cleric: Death Domain: Divine Strike</option>
                <option value="Cleric: Death Domain: Improved Reaper">Cleric: Death Domain: Improved Reaper</option>

                <option value="Cleric: Forge Domain: Blessing of the Forge">Cleric: Forge Domain: Blessing of the Forge</option>
                <option value="Cleric: Forge Domain: Channel Divinity: Artisan's Blessing">Cleric: Forge Domain: Channel Divinity: Artisan's Blessing</option>
                <option value="Cleric: Forge Domain: Soul of the Forge">Cleric: Forge Domain: Soul of the Forge</option>
                <option value="Cleric: Forge Domain: Divine Strike">Cleric: Forge Domain: Divine Strike</option>
                <option value="Cleric: Forge Domain: Saint of Forge and Fire">Cleric: Forge Domain: Saint of Forge and Fire</option>

                <option value="Cleric: Grave Domain: Circle of Mortality">Cleric: Grave Domain: Circle of Mortality</option>
                <option value="Cleric: Grave Domain: Eyes of the Grave">Cleric: Grave Domain: Eyes of the Grave</option>
                <option value="Cleric: Grave Domain: Channel Divinity: Path to the Grave">Cleric: Grave Domain: Channel Divinity: Path to the Grave</option>
                <option value="Cleric: Grave Domain: Sentinel at Death's Door">Cleric: Grave Domain: Sentinel at Death's Door</option>
                <option value="Cleric: Grave Domain: Potent Spellcasting">Cleric: Grave Domain: Potent Spellcasting</option>
                <option value="Cleric: Grave Domain: Keeper of Souls">Cleric: Grave Domain: Keeper of Souls</option>

                <option value="Cleric: Knowledge Domain: Blessings of Knowledge">Cleric: Knowledge Domain: Blessings of Knowledge</option>
                <option value="Cleric: Knowledge Domain: Channel Divinity: Knowledge of the Ages">Cleric: Knowledge Domain: Channel Divinity: Knowledge of the Ages</option>
                <option value="Cleric: Knowledge Domain: Channel Divinity: Read Thoughts">Cleric: Knowledge Domain: Channel Divinity: Read Thoughts</option>
                <option value="Cleric: Knowledge Domain: Potent Spellcasting">Cleric: Knowledge Domain: Potent Spellcasting</option>
                <option value="Cleric: Knowledge Domain: Visions of the Past">Cleric: Knowledge Domain: Visions of the Past</option>

                <option value="Cleric: Life Domain: Disciple of Life">Cleric: Life Domain: Disciple of Life</option>
                <option value="Cleric: Life Domain: Channel Divinity: Preserve Life">Cleric: Life Domain: Channel Divinity: Preserve Life</option>
                <option value="Cleric: Life Domain: Blessed Healer">Cleric: Life Domain: Blessed Healer</option>
                <option value="Cleric: Life Domain: Divine Strike">Cleric: Life Domain: Divine Strike</option>
                <option value="Cleric: Life Domain: Supreme Healing">Cleric: Life Domain: Supreme Healing</option>

                <option value="Cleric: Light Domain: Warding Flare">Cleric: Light Domain: Warding Flare</option>
                <option value="Cleric: Light Domain: Channel Divinity: Radiance of the Dawn">Cleric: Light Domain: Channel Divinity: Radiance of the Dawn</option>
                <option value="Cleric: Light Domain: Improved Flare">Cleric: Light Domain: Improved Flare</option>
                <option value="Cleric: Light Domain: Potent Spellcasting">Cleric: Light Domain: Potent Spellcasting</option>
                <option value="Cleric: Light Domain: Corona of Light">Cleric: Light Domain: Corona of Light</option>

                <option value="Cleric: Nature Domain: Acolyte of Nature">Cleric: Nature Domain: Acolyte of Nature</option>
                <option value="Cleric: Nature Domain: Channel Divinity: Charm Animals and Plants">Cleric: Nature Domain: Channel Divinity: Charm Animals and Plants</option>
                <option value="Cleric: Nature Domain: Dampen Elements">Cleric: Nature Domain: Dampen Elements</option>
                <option value="Cleric: Nature Domain: Divine Strike">Cleric: Nature Domain: Divine Strike</option>
                <option value="Cleric: Nature Domain: Master of Nature">Cleric: Nature Domain: Master of Nature</option>

                <option value="Cleric: Order Domain: Voice of Authority">Cleric: Order Domain: Voice of Authority</option>
                <option value="Cleric: Order Domain: Channel Divinity: Order's Demand">Cleric: Order Domain: Channel Divinity: Order's Demand</option>
                <option value="Cleric: Order Domain: Embodiment of the Law">Cleric: Order Domain: Embodiment of the Law</option>
                <option value="Cleric: Order Domain: Divine Strike">Cleric: Order Domain: Divine Strike</option>
                <option value="Cleric: Order Domain: Order's Wrath">Cleric: Order Domain: Order's Wrath</option>

                <option value="Cleric: Peace Domain: Implements of Peace">Cleric: Peace Domain: Implements of Peace</option>
                <option value="Cleric: Peace Domain: Emboldening Bond">Cleric: Peace Domain: Emboldening Bond</option>
                <option value="Cleric: Peace Domain: Channel Divinity: Balm of Peace">Cleric: Peace Domain: Channel Divinity: Balm of Peace</option>
                <option value="Cleric: Peace Domain: Protective Bond">Cleric: Peace Domain: Protective Bond</option>
                <option value="Cleric: Peace Domain: Potent Spellcasting">Cleric: Peace Domain: Potent Spellcasting</option>
                <option value="Cleric: Peace Domain: Expansive Bond">Cleric: Peace Domain: Expansive Bond</option>

                <option value="Cleric: Tempest Domain: Wrath of the Storm">Cleric: Tempest Domain: Wrath of the Storm</option>
                <option value="Cleric: Tempest Domain: Channel Divinity: Destructive Wrath">Cleric: Tempest Domain: Channel Divinity: Destructive Wrath</option>
                <option value="Cleric: Tempest Domain: Thunderbolt Strike">Cleric: Tempest Domain: Thunderbolt Strike</option>
                <option value="Cleric: Tempest Domain: Divine Strike">Cleric: Tempest Domain: Divine Strike</option>
                <option value="Cleric: Tempest Domain: Stormborn">Cleric: Tempest Domain: Stormborn</option>

                <option value="Cleric: Trickery Domain: Blessing of the Trickster">Cleric: Trickery Domain: Blessing of the Trickster</option>
                <option value="Cleric: Trickery Domain: Channel Divinity: Invoke Duplicity">Cleric: Trickery Domain: Channel Divinity: Invoke Duplicity</option>
                <option value="Cleric: Trickery Domain: Channel Divinity: Cloak of Shadows">Cleric: Trickery Domain: Channel Divinity: Cloak of Shadows</option>
                <option value="Cleric: Trickery Domain: Divine Strike">Cleric: Trickery Domain: Divine Strike</option>
                <option value="Cleric: Trickery Domain: Improved Duplicity">Cleric: Trickery Domain: Improved Duplicity</option>

                <option value="Cleric: Twilight Domain: Eyes of Night">Cleric: Twilight Domain: Eyes of Night</option>
                <option value="Cleric: Twilight Domain: Vigilant Blessing">Cleric: Twilight Domain: Vigilant Blessing</option>
                <option value="Cleric: Twilight Domain: Channel Divinity: Twilight Sanctuary">Cleric: Twilight Domain: Channel Divinity: Twilight Sanctuary</option>
                <option value="Cleric: Twilight Domain: Steps of Night">Cleric: Twilight Domain: Steps of Night</option>
                <option value="Cleric: Twilight Domain: Divine Strike">Cleric: Twilight Domain: Divine Strike</option>
                <option value="Cleric: Twilight Domain: Midnight Shroud">Cleric: Twilight Domain: Midnight Shroud</option>

                <option value="Cleric: War Domain: War Priest">Cleric: War Domain: War Priest</option>
                <option value="Cleric: War Domain: Channel Divinity: Guided Strike">Cleric: War Domain: Channel Divinity: Guided Strike</option>
                <option value="Cleric: War Domain: Channel Divinity: War God's Blessing">Cleric: War Domain: Channel Divinity: War God's Blessing</option>
                <option value="Cleric: War Domain: Divine Strike">Cleric: War Domain: Divine Strike</option>
                <option value="Cleric: War Domain: Avatar of Battle">Cleric: War Domain: Avatar of Battle</option>

                <option value="Druid: Druidic">Druid: Druidic</option>
                <option value="Druid: Spellcasting">Druid: Spellcasting</option>
                <option value="Druid: Wild Shape">Druid: Wild Shape</option>
                <option value="Druid: Druid Circle">Druid: Druid Circle</option>
                <option value="Druid: Timeless Body">Druid: Timeless Body</option>
                <option value="Druid: Beast Spells">Druid: Beast Spells</option>
                <option value="Druid: Archdruid">Druid: Archdruid</option>

                <option value="Fighter: Fighting Style">Fighter: Fighting Style</option>
                <option value="Fighter: Second Wind">Fighter: Second Wind</option>
                <option value="Fighter: Action Surge">Fighter: Action Surge</option>
                <option value="Fighter: Martial Archetype">Fighter: Martial Archetype</option>
                <option value="Fighter: Extra Attack">Fighter: Extra Attack</option>
                <option value="Fighter: Indomitable">Fighter: Indomitable</option>

                <option value="Fighter: Arcane Archer: Arcane Archer's Lore">Fighter: Arcane Archer: Arcane Archer's Lore</option>
                <option value="Fighter: Arcane Archer: Arcane Shot">Fighter: Arcane Archer: Arcane Shot</option>
                <option value="Fighter: Arcane Archer: Magic Arrow">Fighter: Arcane Archer: Magic Arrow</option>
                <option value="Fighter: Arcane Archer: Curving Shot">Fighter: Arcane Archer: Curving Shot</option>
                <option value="Fighter: Arcane Archer: Ever-Ready Shot">Fighter: Arcane Archer: Ever-Ready Shot</option>

                <option value="Fighter: Battle Master: Combat Superiority">Fighter: Battle Master: Combat Superiority</option>
                <option value="Fighter: Battle Master: Student of War">Fighter: Battle Master: Student of War</option>
                <option value="Fighter: Battle Master: Know your Enemy">Fighter: Battle Master: Know Your Enemy</option>
                <option value="Fighter: Battle Master: Improved Combat Superiority">Fighter: Battle Master: Improved Combat Superiority</option>
                <option value="Fighter: Battle Master: Relentless">Fighter: Battle Master: Relentless</option>

                <option value="Fighter: Cavalier: Born to the Saddle">Fighter: Cavalier: Born to the Saddle</option>
                <option value="Fighter: Cavalier: Unwavering Mark">Fighter: Cavalier: Unwavering Mark</option>
                <option value="Fighter: Cavalier: Warding Maneuver">Fighter: Cavalier: Warding Maneuver</option>
                <option value="Fighter: Cavalier: Hold the Line">Fighter: Cavalier: Hold the Line</option>
                <option value="Fighter: Cavalier: Ferocious Charger">Fighter: Cavalier: Ferocious Charger</option>
                <option value="Fighter: Cavalier: Vigilant Defender">Fighter: Cavalier: Vigilant Defender</option>

                <option value="Fighter: Champion: Improved Critical">Fighter: Champion: Improved Critical</option>
                <option value="Fighter: Champion: Remarkable Athlete">Fighter: Champion: Remarkable Athlete</option>
                <option value="Fighter: Champion: Additional Fighting Style">Fighter: Champion: Additional Fighting Style</option>
                <option value="Fighter: Champion: Superior Critical">Fighter: Champion: Superior Critical</option>
                <option value="Fighter: Champion: Survivor">Fighter: Champion: Survivor</option>

                <option value="Fighter: Eldritch Knight: Spellcasting">Fighter: Eldritch Knight: Spellcasting</option>
                <option value="Fighter: Eldritch Knight: Weapon Bond">Fighter: Eldritch Knight: Weapon Bond</option>
                <option value="Fighter: Eldritch Knight: War Magic">Fighter: Eldritch Knight: War Magic</option>
                <option value="Fighter: Eldritch Knight: Eldritch Strike">Fighter: Eldritch Knight: Eldritch Strike</option>
                <option value="Fighter: Eldritch Knight: Arcane Charge">Fighter: Eldritch Knight: Arcane Charge</option>
                <option value="Fighter: Eldritch Knight: Improved War Magic">Fighter: Eldritch Knight: Improved War Magic</option>

                <option value="Fighter: Gunslinger: Grit">Fighter: Gunslinger: Grit</option>
                <option value="Fighter: Gunslinger: Gunsmith">Fighter: Gunslinger: Gunsmith</option>
                <option value="Fighter: Gunslinger: Quickdraw">Fighter: Gunslinger: Quickdraw</option>
                <option value="Fighter: Gunslinger: Rapid Repair">Fighter: Gunslinger: Rapid Repair</option>

                <option value="Fighter: Optional Features: Fighting Style Options">Fighter: Optional Features: Fighting Style Options</option>
                <option value="Fighter: Optional Features: Additional Fighting Style">Fighter: Optional Features: Additional Fighting Style</option>
                <option value="Fighter: Optional Features: Superior Technique">Fighter: Optional Features: Superior Technique</option>

                <option value="Fighter: Psi Warrior: Psionic Power">Fighter: Psi Warrior: Psionic Power</option>
                <option value="Fighter: Psi Warrior: Psi-Powered Leap">Fighter: Psi Warrior: Psi-Powered Leap</option>
                <option value="Fighter: Psi Warrior: Telekinetic Thrust">Fighter: Psi Warrior: Telekinetic Thrust</option>
                <option value="Fighter: Psi Warrior: Psi-Enhanced Metabolism">Fighter: Psi Warrior: Psi-Enhanced Metabolism</option>
                <option value="Fighter: Psi Warrior: Telekinetic Bulwark">Fighter: Psi Warrior: Telekinetic Bulwark</option>

                <option value="Fighter: Purple Dragon Knight: Rallying Cry">Fighter: Purple Dragon Knight: Rallying Cry</option>
                <option value="Fighter: Purple Dragon Knight: Royal Envoy">Fighter: Purple Dragon Knight: Royal Envoy</option>
                <option value="Fighter: Purple Dragon Knight: Inspiring Surge">Fighter: Purple Dragon Knight: Inspiring Surge</option>
                <option value="Fighter: Purple Dragon Knight: Bulwark">Fighter: Purple Dragon Knight: Bulwark</option>

                <option value="Fighter: Rune Knight: Rune Lore">Fighter: Rune Knight: Rune Lore</option>
                <option value="Fighter: Rune Knight: Giant Might">Fighter: Rune Knight: Giant Might</option>
                <option value="Fighter: Rune Knight: Runic Shield">Fighter: Rune Knight: Runic Shield</option>
                <option value="Fighter: Rune Knight: Great Stature">Fighter: Rune Knight: Great Stature</option>
                <option value="Fighter: Rune Knight: Master of Runes">Fighter: Rune Knight: Master of Runes</option>
                <option value="Fighter: Rune Knight: Runic Juggernaut">Fighter: Rune Knight: Runic Juggernaut</option>

                <option value="Fighter: Samurai: Fighting Spirit">Fighter: Samurai: Fighting Spirit</option>
                <option value="Fighter: Samurai: Elegant Courtier">Fighter: Samurai: Elegant Courtier</option>
                <option value="Fighter: Samurai: Tireless Spirit">Fighter: Samurai: Tireless Spirit</option>
                <option value="Fighter: Samurai: Rapid Strike">Fighter: Samurai: Rapid Strike</option>
                <option value="Fighter: Samurai: Strength Before Death">Fighter: Samurai: Strength Before Death</option>

                <option value="Monk: Unarmored Defense">Monk: Unarmored Defense</option>
                <option value="Monk: Martial Arts">Monk: Martial Arts</option>
                <option value="Monk: Ki">Monk: Ki</option>
                <option value="Monk: Unarmored Movement">Monk: Unarmored Movement</option>
                <option value="Monk: Monastic Tradition">Monk: Monastic Tradition</option>
                <option value="Monk: Evasion">Monk: Evasion</option>
                <option value="Monk: Stillness of Mind">Monk: Stillness of Mind</option>
                <option value="Monk: Purity of Body">Monk: Purity of Body</option>
                <option value="Monk: Tongue of the Sun and Moon">Monk: Tongue of the Sun and Moon</option>
                <option value="Monk: Diamond Soul">Monk: Diamond Soul</option>
                <option value="Monk: Timeless Body">Monk: Timeless Body</option>
                <option value="Monk: Empty Body">Monk: Empty Body</option>
                <option value="Monk: Perfect Self">Monk: Perfect Self</option>

                <option value="Paladin: Divine Sense">Paladin: Divine Sense</option>
                <option value="Paladin: Lay on Hands">Paladin: Lay on Hands</option>
                <option value="Paladin: Fighting Style">Paladin: Fighting Style</option>
                <option value="Paladin: Spellcasting">Paladin: Spellcasting</option>
                <option value="Paladin: Divine Smite">Paladin: Divine Smite</option>
                <option value="Paladin: Divine Health">Paladin: Divine Health</option>
                <option value="Paladin: Sacred Oath">Paladin: Sacred Oath</option>
                <option value="Paladin: Extra Attack">Paladin: Extra Attack</option>
                <option value="Paladin: Aura of Protection">Paladin: Aura of Protection</option>
                <option value="Paladin: Aura of Courage">Paladin: Aura of Courage</option>
                <option value="Paladin: Improved Divine Smite">Paladin: Improved Divine Smite</option>
                <option value="Paladin: Cleansing Touch">Paladin: Cleansing Touch</option>

                <option value="Paladin: Oath of Conquest: Scornful Rebuke">Paladin: Oath of Conquest: Scornful Rebuke</option>
                <option value="Paladin: Oath of Conquest: Conquering Presence">Paladin: Oath of Conquest: Conquering Presence</option>
                <option value="Paladin: Oath of Conquest: Invincible Conqueror">Paladin: Oath of Conquest: Invincible Conqueror</option>
                <option value="Paladin: Oath of Conquest: Scourge of the Conquered">Paladin: Oath of Conquest: Scourge of the Conquered</option>

                <option value="Paladin: Oath of Devotion: Sacred Weapon">Paladin: Oath of Devotion: Sacred Weapon</option>
                <option value="Paladin: Oath of Devotion: Channel Divinity">Paladin: Oath of Devotion: Channel Divinity</option>
                <option value="Paladin: Oath of Devotion: Aura of Devotion">Paladin: Oath of Devotion: Aura of Devotion</option>
                <option value="Paladin: Oath of Devotion: Purity of Spirit">Paladin: Oath of Devotion: Purity of Spirit</option>
                <option value="Paladin: Oath of Devotion: Holy Nimbus">Paladin: Oath of Devotion: Holy Nimbus</option>

                <option value="Paladin: Oath of Glory: Peerless Athlete">Paladin: Oath of Glory: Peerless Athlete</option>
                <option value="Paladin: Oath of Glory: Inspiring Smite">Paladin: Oath of Glory: Inspiring Smite</option>
                <option value="Paladin: Oath of Glory: Glorious Defense">Paladin: Oath of Glory: Glorious Defense</option>
                <option value="Paladin: Oath of Glory: Living Legend">Paladin: Oath of Glory: Living Legend</option>

                <option value="Paladin: Oath of Redemption: Emissary of Peace">Paladin: Oath of Redemption: Emissary of Peace</option>
                <option value="Paladin: Oath of Redemption: Channel Divinity">Paladin: Oath of Redemption: Channel Divinity</option>
                <option value="Paladin: Oath of Redemption: Aura of the Guardian">Paladin: Oath of Redemption: Aura of the Guardian</option>
                <option value="Paladin: Oath of Redemption: Protective Spirit">Paladin: Oath of Redemption: Protective Spirit</option>
                <option value="Paladin: Oath of Redemption: Emissary of Redemption">Paladin: Oath of Redemption: Emissary of Redemption</option>

                <option value="Paladin: Oath of the Ancients: Nature's Wrath">Paladin: Oath of the Ancients: Nature's Wrath</option>
                <option value="Paladin: Oath of the Ancients: Turn the Faithless">Paladin: Oath of the Ancients: Turn the Faithless</option>
                <option value="Paladin: Oath of the Ancients: Aura of Warding">Paladin: Oath of the Ancients: Aura of Warding</option>
                <option value="Paladin: Oath of the Ancients: Undying Sentinel">Paladin: Oath of the Ancients: Undying Sentinel</option>
                <option value="Paladin: Oath of the Ancients: Elder Champion">Paladin: Oath of the Ancients: Elder Champion</option>

                <option value="Paladin: Oath of the Crown: Champion Challenge">Paladin: Oath of the Crown: Champion Challenge</option>
                <option value="Paladin: Oath of the Crown: Turn the Tide">Paladin: Oath of the Crown: Turn the Tide</option>
                <option value="Paladin: Oath of the Crown: Divine Allegiance">Paladin: Oath of the Crown: Divine Allegiance</option>
                <option value="Paladin: Oath of the Crown: Exalted Champion">Paladin: Oath of the Crown: Exalted Champion</option>

                <option value="Paladin: Oath of the Open Sea: Marine Layer">Paladin: Oath of the Open Sea: Marine Layer</option>
                <option value="Paladin: Oath of the Open Sea: Channel Divinity">Paladin: Oath of the Open Sea: Channel Divinity</option>
                <option value="Paladin: Oath of the Open Sea: Stormy Waters">Paladin: Oath of the Open Sea: Stormy Waters</option>
                <option value="Paladin: Oath of the Open Sea: Tidal Wave">Paladin: Oath of the Open Sea: Tidal Wave</option>

                <option value="Paladin: Oath of Watchers: Abjure the Extraplanar">Paladin: Oath of Watchers: Abjure the Extraplanar</option>
                <option value="Paladin: Oath of Watchers: Watcher's Will">Paladin: Oath of Watchers: Watcher's Will</option>
                <option value="Paladin: Oath of Watchers: Vigilant Rebuke">Paladin: Oath of Watchers: Vigilant Rebuke</option>
                <option value="Paladin: Oath of Watchers: Mortal Bulwark">Paladin: Oath of Watchers: Mortal Bulwark</option>

                <option value="Paladin: Oath of Vengeance: Abjure Enemy">Paladin: Oath of Vengeance: Abjure Enemy</option>
                <option value="Paladin: Oath of Vengeance: Vow of Enmity">Paladin: Oath of Vengeance: Vow of Enmity</option>
                <option value="Paladin: Oath of Vengeance: Relentless Avenger">Paladin: Oath of Vengeance: Relentless Avenger</option>
                <option value="Paladin: Oath of Vengeance: Soul of Vengeance">Paladin: Oath of Vengeance: Soul of Vengeance</option>
                <option value="Paladin: Oath of Vengeance: Avenging Angel">Paladin: Oath of Vengeance: Avenging Angel</option>

                <option value="Paladin: Oathbreaker: Control Undead">Paladin: Oathbreaker: Control Undead</option>
                <option value="Paladin: Oathbreaker: Dreadful Aspect">Paladin: Oathbreaker: Dreadful Aspect</option>
                <option value="Paladin: Oathbreaker: Aura of Hate">Paladin: Oathbreaker: Aura of Hate</option>
                <option value="Paladin: Oathbreaker: Supernatural Resistance">Paladin: Oathbreaker: Supernatural Resistance</option>
                <option value="Paladin: Oathbreaker: Dread Lord">Paladin: Oathbreaker: Dread Lord</option>

                <option value="Paladin: Optional Class Features: Additional Spells">Paladin: Optional Class Features: Additional Spells</option>
                <option value="Paladin: Optional Class Features: Harness Divine Power">Paladin: Optional Class Features: Harness Divine Power</option>
                <option value="Paladin: Optional Class Features: Martial Versatility">Paladin: Optional Class Features: Martial Versatility</option>

                <option value="Ranger: Favored Enemy">Ranger: Favored Enemy</option>
                <option value="Ranger: Natural Explorer">Ranger: Natural Explorer</option>
                <option value="Ranger: Fighting Style">Ranger: Fighting Style</option>
                <option value="Ranger: Spellcasting">Ranger: Spellcasting</option>
                <option value="Ranger: Ranger Archetype">Ranger: Ranger Archetype</option>
                <option value="Ranger: Primeval Awareness">Ranger: Primeval Awareness</option>
                <option value="Ranger: Extra Attack">Ranger: Extra Attack</option>
                <option value="Ranger: Land's Stride">Ranger: Land's Stride</option>
                <option value="Ranger: Hide in Plain Sight">Ranger: Hide in Plain Sight</option>
                <option value="Ranger: Vanish">Ranger: Vanish</option>
                <option value="Ranger: Feral Senses">Ranger: Feral Senses</option>
                <option value="Ranger: Foe Slayer">Ranger: Foe Slayer</option>

                <option value="Ranger: Beast Master: Ranger's Companion">Ranger: Beast Master: Ranger's Companion</option>
                <option value="Ranger: Beast Master: Exceptional Training">Ranger: Beast Master: Exceptional Training</option>
                <option value="Ranger: Beast Master: Bestial Fury">Ranger: Beast Master: Bestial Fury</option>
                <option value="Ranger: Beast Master: Share Spells">Ranger: Beast Master: Share Spells</option>

                <option value="Ranger: Fey Wanderer: Dreadful Strikes">Ranger: Fey Wanderer: Dreadful Strikes</option>
                <option value="Ranger: Fey Wanderer: Fey Reinforcements">Ranger: Fey Wanderer: Fey Reinforcements</option>
                <option value="Ranger: Fey Wanderer: Misty Wanderer">Ranger: Fey Wanderer: Misty Wanderer</option>

                <option value="Ranger: Gloom Stalker: Umbral Sight">Ranger: Gloom Stalker: Umbral Sight</option>
                <option value="Ranger: Gloom Stalker: Iron Mind">Ranger: Gloom Stalker: Iron Mind</option>
                <option value="Ranger: Gloom Stalker: Stalker's Flurry">Ranger: Gloom Stalker: Stalker's Flurry</option>
                <option value="Ranger: Gloom Stalker: Shadowy Dodge">Ranger: Gloom Stalker: Shadowy Dodge</option>

                <option value="Ranger: Horizon Walker: Detect Portal">Ranger: Horizon Walker: Detect Portal</option>
                <option value="Ranger: Horizon Walker: Planar Warrior">Ranger: Horizon Walker: Planar Warrior</option>
                <option value="Ranger: Horizon Walker: Ethereal Step">Ranger: Horizon Walker: Ethereal Step</option>
                <option value="Ranger: Horizon Walker: Distant Strike">Ranger: Horizon Walker: Distant Strike</option>
                <option value="Ranger: Horizon Walker: Spectral Defense">Ranger: Horizon Walker: Spectral Defense</option>

                <option value="Ranger: Hunter: Hunter's Prey">Ranger: Hunter: Hunter's Prey</option>
                <option value="Ranger: Hunter: Defensive Tactics">Ranger: Hunter: Defensive Tactics</option>
                <option value="Ranger: Hunter: Multiattack">Ranger: Hunter: Multiattack</option>
                <option value="Ranger: Hunter: Superior Hunter's Defense">Ranger: Hunter: Superior Hunter's Defense</option>

                <option value="Ranger: Monster Slayer: Hunter's Sense">Ranger: Monster Slayer: Hunter's Sense</option>
                <option value="Ranger: Monster Slayer: Slayer's Prey">Ranger: Monster Slayer: Slayer's Prey</option>
                <option value="Ranger: Monster Slayer: Supernatural Defense">Ranger: Monster Slayer: Supernatural Defense</option>
                <option value="Ranger: Monster Slayer: Slayer's Counter">Ranger: Monster Slayer: Slayer's Counter</option>

                <option value="Ranger: Swarmkeeper: Gathered Swarm">Ranger: Swarmkeeper: Gathered Swarm</option>
                <option value="Ranger: Swarmkeeper: Writhing Tide">Ranger: Swarmkeeper: Writhing Tide</option>
                <option value="Ranger: Swarmkeeper: Storm of Minions">Ranger: Swarmkeeper: Storm of Minions</option>
                <option value="Ranger: Swarmkeeper: Mighty Swarm">Ranger: Swarmkeeper: Mighty Swarm</option>

                <option value="Ranger: Optional Class Features: Deft Explorer">Ranger: Optional Class Features: Deft Explorer</option>
                <option value="Ranger: Optional Class Features: Favored Foe">Ranger: Optional Class Features: Favored Foe</option>
                <option value="Ranger: Optional Class Features: Primal Awareness">Ranger: Optional Class Features: Primal Awareness</option>
                <option value="Ranger: Optional Class Features: Martial Versatility">Ranger: Optional Class Features: Martial Versatility</option>

                <option value="Rogue: Expertise">Rogue: Expertise</option>
                <option value="Rogue: Sneak Attack">Rogue: Sneak Attack</option>
                <option value="Rogue: Thieves' Cant">Rogue: Thieves' Cant</option>
                <option value="Rogue: Cunning Action">Rogue: Cunning Action</option>
                <option value="Rogue: Roguish Archetype">Rogue: Roguish Archetype</option>
                <option value="Rogue: Uncanny Dodge">Rogue: Uncanny Dodge</option>
                <option value="Rogue: Evasion">Rogue: Evasion</option>
                <option value="Rogue: Reliable Talent">Rogue: Reliable Talent</option>
                <option value="Rogue: Blindsense">Rogue: Blindsense</option>
                <option value="Rogue: Slippery Mind">Rogue: Slippery Mind</option>
                <option value="Rogue: Elusive">Rogue: Elusive</option>
                <option value="Rogue: Stroke of Luck">Rogue: Stroke of Luck</option>

                <option value="Rogue: Arcane Trickster: Spellcasting">Rogue: Arcane Trickster: Spellcasting</option>
                <option value="Rogue: Arcane Trickster: Mage Hand Legerdemain">Rogue: Arcane Trickster: Mage Hand Legerdemain</option>
                <option value="Rogue: Arcane Trickster: Magical Ambush">Rogue: Arcane Trickster: Magical Ambush</option>
                <option value="Rogue: Arcane Trickster: Versatile Trickster">Rogue: Arcane Trickster: Versatile Trickster</option>
                <option value="Rogue: Arcane Trickster: Spell Thief">Rogue: Arcane Trickster: Spell Thief</option>

                <option value="Rogue: Assassin: Bonus Proficiencies">Rogue: Assassin: Bonus Proficiencies</option>
                <option value="Rogue: Assassin: Assassinate">Rogue: Assassin: Assassinate</option>
                <option value="Rogue: Assassin: Infiltration Expertise">Rogue: Assassin: Infiltration Expertise</option>
                <option value="Rogue: Assassin: Impostor">Rogue: Assassin: Impostor</option>
                <option value="Rogue: Assassin: Death Strike">Rogue: Assassin: Death Strike</option>

                <option value="Rogue: Inquisitive: Ear for Deceit">Rogue: Inquisitive: Ear for Deceit</option>
                <option value="Rogue: Inquisitive: Eye for Detail">Rogue: Inquisitive: Eye for Detail</option>
                <option value="Rogue: Inquisitive: Insightful Fighting">Rogue: Inquisitive: Insightful Fighting</option>
                <option value="Rogue: Inquisitive: Steady Eye">Rogue: Inquisitive: Steady Eye</option>
                <option value="Rogue: Inquisitive: Unerring Eye">Rogue: Inquisitive: Unerring Eye</option>

                <option value="Rogue: Mastermind: Master of Tactics">Rogue: Mastermind: Master of Tactics</option>
                <option value="Rogue: Mastermind: Insightful Manipulator">Rogue: Mastermind: Insightful Manipulator</option>
                <option value="Rogue: Mastermind: Misdirection">Rogue: Mastermind: Misdirection</option>
                <option value="Rogue: Mastermind: Soul of Deceit">Rogue: Mastermind: Soul of Deceit</option>

                <option value="Rogue: Phantom: Wails from the Grave">Rogue: Phantom: Wails from the Grave</option>
                <option value="Rogue: Phantom: Tokens of the Departed">Rogue: Phantom: Tokens of the Departed</option>
                <option value="Rogue: Phantom: Ghost Walk">Rogue: Phantom: Ghost Walk</option>

                <option value="Rogue: Scout: Skirmisher">Rogue: Scout: Skirmisher</option>
                <option value="Rogue: Scout: Survivalist">Rogue: Scout: Survivalist</option>

                <option value="Rogue: Soulknife: Psionic Power">Rogue: Soulknife: Psionic Power</option>
                <option value="Rogue: Soulknife: Psychic Blades">Rogue: Soulknife: Psychic Blades</option>
                <option value="Rogue: Soulknife: Soul Blades">Rogue: Soulknife: Soul Blades</option>
                <option value="Rogue: Soulknife: Psychic Veil">Rogue: Soulknife: Psychic Veil</option>
                <option value="Rogue: Soulknife: Rend Mind">Rogue: Soulknife: Rend Mind</option>

                <option value="Rogue: Swashbuckler: Fancy Footwork">Rogue: Swashbuckler: Fancy Footwork</option>
                <option value="Rogue: Swashbuckler: Rakish Audacity">Rogue: Swashbuckler: Rakish Audacity</option>
                <option value="Rogue: Swashbuckler: Panache">Rogue: Swashbuckler: Panache</option>

                <option value="Rogue: Thief: Fast Hands">Rogue: Thief: Fast Hands</option>
                <option value="Rogue: Thief: Second-Story Work">Rogue: Thief: Second-Story Work</option>
                <option value="Rogue: Thief: Supreme Sneak">Rogue: Thief: Supreme Sneak</option>
                <option value="Rogue: Thief: Use Magic Device">Rogue: Thief: Use Magic Device</option>
                <option value="Rogue: Thief: Thief's Reflexes">Rogue: Thief: Thief's Reflexes</option>

                <option value="Rogue: Optional Class Features: Steady Aim">Rogue: Optional Class Features: Steady Aim</option>

                <option value="Sorcerer: Spellcasting">Sorcerer: Spellcasting</option>
                <option value="Sorcerer: Sorcerous Origin">Sorcerer: Sorcerous Origin</option>
                <option value="Sorcerer: Font of Magic">Sorcerer: Font of Magic</option>
                <option value="Sorcerer: Metamagic">Sorcerer: Metamagic</option>
                <option value="Sorcerer: Sorcerous Restoration">Sorcerer: Sorcerous Restoration</option>

                <option value="Warlock: Otherworldly Patron">Warlock: Otherworldly Patron</option>
                <option value="Warlock: Pact Magic">Warlock: Pact Magic</option>
                <option value="Warlock: Eldritch Invocations">Warlock: Eldritch Invocations</option>
                <option value="Warlock: Pact Boon">Warlock: Pact Boon</option>
                <option value="Warlock: Mystic Arcanum">Warlock: Mystic Arcanum</option>
                <option value="Warlock: Eldritch Master">Warlock: Eldritch Master</option>

                <option value="Wizard: Spellcasting">Wizard: Spellcasting</option>
                <option value="Wizard: Arcane Recovery">Wizard: Arcane Recovery</option>
                <option value="Wizard: Arcane Tradition">Wizard: Arcane Tradition</option>
                <option value="Wizard: Spell Mastery">Wizard: Spell Mastery</option>
                <option value="Wizard: Signature Spells">Wizard: Signature Spells</option>

                <option value="Wizard: Bladesinging: Training in War and Song">Wizard: Bladesinging: Training in War and Song</option>
                <option value="Wizard: Bladesinging: Bladesong">Wizard: Bladesinging: Bladesong</option>
                <option value="Wizard: Bladesinging: Extra Attack">Wizard: Bladesinging: Extra Attack</option>
                <option value="Wizard: Bladesinging: Song of Defense">Wizard: Bladesinging: Song of Defense</option>
                <option value="Wizard: Bladesinging: Song of Victory">Wizard: Bladesinging: Song of Victory</option>

                <option value="Order of Scribes: Awakened Spellbook">Order of Scribes: Awakened Spellbook</option>
                <option value="Order of Scribes: Wizardly Quill">Order of Scribes: Wizardly Quill</option>
                <option value="Order of Scribes: Master Scrivener">Order of Scribes: Master Scrivener</option>
                <option value="Order of Scribes: Manifest Mind">Order of Scribes: Manifest Mind</option>
                <option value="Order of Scribes: Master Scrivener">Order of Scribes: Master Scrivener</option>
                <option value="Order of Scribes: One With the Word">Order of Scribes: One With the Word</option>

                <!-- Optional Features -->
                <option value="Wizard: Cantrip Formulas">Wizard: Cantrip Formulas</option>
                <option value="Wizard: Spell Versatility">Wizard: Spell Versatility</option>

                <!-- School of Abjuration -->
                <option value="Wizard: Abjuration: Abjuration Savant">Wizard: Abjuration: Abjuration Savant</option>
                <option value="Wizard: Abjuration: Arcane Ward">Wizard: Abjuration: Arcane Ward</option>
                <option value="Wizard: Abjuration: Projected Ward">Wizard: Abjuration: Projected Ward</option>
                <option value="Wizard: Abjuration: Improved Abjuration">Wizard: Abjuration: Improved Abjuration</option>
                <option value="Wizard: Abjuration: Spell Resistance">Wizard: Abjuration: Spell Resistance</option>

                <!-- School of Conjuration -->
                <option value="Wizard: Conjuration: Conjuration Savant">Wizard: Conjuration: Conjuration Savant</option>
                <option value="Wizard: Conjuration: Minor Conjuration">Wizard: Conjuration: Minor Conjuration</option>
                <option value="Wizard: Conjuration: Benign Transposition">Wizard: Conjuration: Benign Transposition</option>
                <option value="Wizard: Conjuration: Focused Conjuration">Wizard: Conjuration: Focused Conjuration</option>
                <option value="Wizard: Conjuration: Durable Summons">Wizard: Conjuration: Durable Summons</option>

                <!-- School of Divination -->
                <option value="Wizard: Divination: Divination Savant">Wizard: Divination: Divination Savant</option>
                <option value="Wizard: Divination: Portent">Wizard: Divination: Portent</option>
                <option value="Wizard: Divination: Expert Divination">Wizard: Divination: Expert Divination</option>
                <option value="Wizard: Divination: The Third Eye">Wizard: Divination: The Third Eye</option>

                <!-- School of Enchantment -->
                <option value="Wizard: Enchantment: Enchantment Savant">Wizard: Enchantment: Enchantment Savant</option>
                <option value="Wizard: Enchantment: Hypnotic Gaze">Wizard: Enchantment: Hypnotic Gaze</option>
                <option value="Wizard: Enchantment: Instinctive Charm">Wizard: Enchantment: Instinctive Charm</option>
                <option value="Wizard: Enchantment: Split Enchantment">Wizard: Enchantment: Split Enchantment</option>
                <option value="Wizard: Enchantment: Alter Memories">Wizard: Enchantment: Alter Memories</option>

                <!-- School of Evocation -->
                <option value="Wizard: Evocation: Evocation Savant">Wizard: Evocation: Evocation Savant</option>
                <option value="Wizard: Evocation: Sculpt Spells">Wizard: Evocation: Sculpt Spells</option>
                <option value="Wizard: Evocation: Potent Cantrip">Wizard: Evocation: Potent Cantrip</option>
                <option value="Wizard: Evocation: Empowered Evocation">Wizard: Evocation: Empowered Evocation</option>
                <option value="Wizard: Evocation: Overchannel">Wizard: Evocation: Overchannel</option>

                <!-- School of Illusion -->
                <option value="Wizard: Illusion: Illusion Savant">Wizard: Illusion: Illusion Savant</option>
                <option value="Wizard: Illusion: Improved Minor Illusion">Wizard: Illusion: Improved Minor Illusion</option>
                <option value="Wizard: Illusion: Malleable Illusions">Wizard: Illusion: Malleable Illusions</option>
                <option value="Wizard: Illusion: Illusory Self">Wizard: Illusion: Illusory Self</option>
                <option value="Wizard: Illusion: Illusory Reality">Wizard: Illusion: Illusory Reality</option>

                <!-- School of Necromancy -->
                <option value="Wizard: Necromancy: Necromancy Savant">Wizard: Necromancy: Necromancy Savant</option>
                <option value="Wizard: Necromancy: Grim Harvest">Wizard: Necromancy: Grim Harvest</option>
                <option value="Wizard: Necromancy: Undead Thralls">Wizard: Necromancy: Undead Thralls</option>
                <option value="Wizard: Necromancy: Inured to Undeath">Wizard: Necromancy: Inured to Undeath</option>
                <option value="Wizard: Necromancy: Command Undead">Wizard: Necromancy: Command Undead</option>

                <!-- School of Transmutation -->
                <option value="Wizard: Transmutation: Transmutation Savant">Wizard: Transmutation: Transmutation Savant</option>
                <option value="Wizard: Transmutation: Minor Alchemy">Wizard: Transmutation: Minor Alchemy</option>
                <option value="Wizard: Transmutation: Transmuter's Stone">Wizard: Transmutation: Transmuter's Stone</option>
                <option value="Wizard: Transmutation: Shapechanger">Wizard: Transmutation: Shapechanger</option>
                <option value="Wizard: Transmutation: Master Transmuter">Wizard: Transmutation: Master Transmuter</option>

            </select>
        </div>

        {{!-- Description --}}
        <div class="form-label">Other Rules <span class="helper">(Spells, Actions, etc.)</span></div>
        <textarea id="inputFeaturesDetails-{{id}}" rows="2" placeholder=""></textarea>

        
    </div>
</div>