<div class="workspace-section" id="workspace-section-geography-{{id}}">
    <h4>Geography <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-geography-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    
    <div id="workspace-section-geography-content-{{id}}" class="workspace-section-content">

        {{!-- Hierarchy --}}
        <h5>Location > Parent > Environtment > Area</h5>

        {{!-- Scene Location --}}
        <div class="form-label">Location in World<span class="helper">(e.g Moonsea, The Underdark, etc)</span></div>
        <input type="text" id="input-LOCATION-{{id}}" value="{{strdefaultCampaignRealm}}" placeholder="">


        {{!-- Scene Parent --}}
        <div class="form-label">Parent <span class="helper">(e.g. Phlan, Abandoned Mines, etc)</span></div>
        <input type="text" id="input-SCENEPARENT-{{id}}" value="{{strdefaultCampaignRegion}}" placeholder="">


        {{!-- Scene Environment Dropdown? --}}
        <div class="form-label">Environment <span class="helper">(e.g. Forest, Crypt, Dungeon, etc)</span></div>
        <input type="text" id="input-ENVIRONMENT-{{id}}" value="{{strdefaultCampaignSite}}" placeholder="">

        {{!-- Scene Area --}}
        <div class="form-label">Area <span class="helper">(e.g. Chasmfall Castle, Old House, Goblin Cave, etc)</span></div>
        <input type="text" id="input-SCENEAREA-{{id}}" value="{{strdefaultCampaignArea}}" placeholder="">


    </div>
</div>




