
<div class="workspace-section" id="workspace-section-cardimage-{{id}}">
    <h4>Card Image <button type="button" class="toggle-button-section" onclick="toggleSection('workspace-section-cardimage-content-{{id}}', this)"><i class="fas fa-chevron-up"></i></button></h4>
    <div id="workspace-section-cardimage-content-{{id}}" class="workspace-section-content">
        {{!-- Card Image --}}  
        <div class="form-label">Card Image <span class="helper">(Adds an image to the card)</span></div> 
        <div class="form-options">
            <select id="optionCardImage-CARDIMAGE-{{id}}" name="optionImage-CARDIMAGE-{{id}}">
                {{#if strNarrativeDefaultCardImage}}
                    {{#unless (eq strNarrativeDefaultCardImage "none")}}
                        <option value="{{strNarrativeDefaultCardImage}}" selected>{{strNarrativeDefaultCardImageName}}</option>
                    {{/unless}}
                {{/if}}
                <option value="none" {{#if (eq strNarrativeDefaultCardImage "none")}}selected{{/if}}>No Image</option>
                <option value="custom" {{#if (eq strNarrativeDefaultCardImage "custom")}}selected{{/if}}>Custom: Paste the Path Below</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-heros-1.webp">Heroes 1</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-heros-2.webp">Heroes 2</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-heros-3.webp">Heroes 3</option>

                <option value="modules/coffee-pub-blacksmith/images/banners/banners-narration-crypt-1.webp">Location:Crypt 1</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-narration-crypt-2.webp">Location:Crypt 2</option>

                <option value="modules/coffee-pub-blacksmith/images/banners/banners-narration-forest-1.webp">Landscape: Forest 1</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-narration-forest-2.webp">Landscape: Forest 2</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-narration-forest-3.webp">Landscape: Forest 3</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-narration-forest-4.webp">Landscape: Forest 4</option>

                <option value="modules/coffee-pub-blacksmith/images/banners/banners-narration-jungle-1.webp">Landscape: Jungle 1</option>

                <option value="modules/coffee-pub-blacksmith/images/banners/banners-mountains-1.webp">Landscape: Mountains 1</option>

                <option value="modules/coffee-pub-blacksmith/images/banners/banners-mushrooms-1.webp">Landscape: Mushrooms 1</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-mushrooms-2.webp">Landscape: Mushrooms 2</option>

                <option value="modules/coffee-pub-blacksmith/images/banners/banners-path-1.webp">Landscape: Path 1</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-path-2.webp">Landscape: Path 2</option>

                <option value="modules/coffee-pub-blacksmith/images/banners/banners-landscape-winter-1.webp">Landscape: Winter 1</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-landscape-winter-2.webp">Landscape: Winter 2</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-landscape-winter-3.webp">Landscape: Winter 3</option>

                <option value="modules/coffee-pub-blacksmith/images/banners/banners-monsters-dragon-1.webp">Monster: Dragon 1</option>

                <option value="modules/coffee-pub-blacksmith/images/banners/banners-monsters-minotour-1.webp">Monster: Minotaur 1</option>
                
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-monsters-wraith-1.webp">Monster: Wraith 1</option>
                <option value="modules/coffee-pub-blacksmith/images/banners/banners-monsters-wraith-2.webp">Monster: Wraith 2</option>
            </select>
        </div>
        <div class="form-label">Custom Image <span class="helper">(Image path. Overrides stock image)</span></div>
        <input class="form-input" type="text" id="input-CARDIMAGE-{{id}}" value="{{strNarrativeDefaultImagePath}}" placeholder="Path to the image...">

    </div>
</div>



